@import '../styles/config-styles.scss';

.home-screen {
  width: 100vw;
  height: calc(100vh-76px);
  margin-top: $header-height;
  img {
    width: 100vw;
    max-height: calc(100vh-76px);
    // object-fit: cover;
    // object-position: 150% 0;
    @media screen and (max-width: 700px) {
      object-position: 0;
    }
  }
}
