@import '../styles/config-styles.scss';

.homepage {
  width: 100%;
  height: calc(100vh - 131px);
  .homepage-image {
    width: 100%;
    height: calc(100vh - 131px);
    object-fit: cover;
    object-position: 50% 45%;
    @media screen and (max-width: 1025px) {
      width: 100%;
      object-fit: cover;
      object-position: 17% 50%;
    }
    @media screen and (max-width: 700px) {
      width: 100%;
      object-fit: cover;
      object-position: 17% 50%;
    }
  }
}
