@import '../styles/config-styles.scss';

.optionspanel {
  background-image: url(../assets/images/trailhead.JPG);
  padding-top: 1em;
  height: 85vh;
  @media screen and (max-width: 767px) {
    height: 100%;
  }
}
