@import '../../styles/config-styles.scss';

.input-card {
  background-color: $lightblue !important;
  z-index: 0;
  h1 {
    font-size: 3vw;
    font-weight: bold;
  }
}

button[type='submit'] {
  background-color: $darktan;
  border: $lighttan solid 2px;
}

.error {
  color: red;
  font-weight: bold;
}

@media only screen and (max-width: 705px) {
  .input-form-container {
    margin-top: 30px;
    .input-card {
      margin-top: 2em;
      h1 {
        font-size: 1.8em;
        font-weight: bold;
      }
    }
  }
}
