@import '../../styles/config-styles.scss';

.volunteer-form-container {
  margin-top: $header-height;
  overflow: scroll;
}

.input-card {
  background-color: $lightblue !important;
  z-index: 5;
  h1 {
    font-size: 3vw;
    font-weight: bold;
  }
}

button[type='submit'] {
  background-color: $darktan;
  border: $lighttan solid 2px;
}

.error {
  color: red;
  font-weight: bold;
}

@media only screen and (max-width: 650px) {
  .volunteer-form-container {
    margin-top: $header-height-with-nav;
    h1 {
      font-size: 2em;
      font-weight: bold;
    }
  }
}
